@use '../../../styles/abstracts/colors' as c;
@use '../../../styles/abstracts/mixins' as m;
.auth-screen {
    background-color: var(--neutrals-100);

    .auth-screen__container {
        display: flex;
        margin: auto;

      .auth-screen__carousel{
        background-color: var(--neutrals-900);
      }
    }

    .auth-screen__content {
        margin: auto;
        padding: 3rem 2.5rem;

        @include m.media('ipad') {
                padding: 1rem 2.5rem;
        }    

    }

    @include m.media('tablet') {

        .auth-screen__carousel,
        .auth-screen__content {
            width: 50%;

            .slide {
                h3 {
                    color: c.$white;
                }

                p {
                    color: c.$white;
                }
            }
        }
    }

    @include m.media('desktop') {

        .auth-screen__carousel,
        .auth-screen__content {
            width: 50%;
        }
    }

    .text-darkgray {
        color: c.$darkGray;
    }

    .resend-otp-btn {
        padding: 0;

        &:hover {
            background-color: transparent;
        }
    }

    .auth-screen-title {
        margin-bottom: 1.5rem;
        font-size: 0.875rem;
        font-weight: 500;
        color: c.$black;
    }

    .constitution-type {
        p {
            text-transform: capitalize;
        }
    }
}
.auth-screen .input input {
    outline: none;
    font-size: 1rem;
    color: var(--neutrals-900);
    width: 320px;
    height: 45px;
    border-radius: 29px;
}
.auth-screen__content {
    background-color: white;
    text-align: left;
}
.mobile-menu{
    box-shadow: 0px 1px 3px 0px #1A1D2B1A;
    
        box-shadow: 0px 1px 2px 0px #1A1D2B0F;
}

.menu-item{
   background: var(--Neutrals-100, #F2F2F4);
   position:absolute;  
   z-index: 9; 
}
.cross-icon {
    border-radius: 50%;
    border: 1px solid var(--Neutrals-300, #D1D2D5);
    padding: 0.25rem;        
}